---
const { title  = "Cool",
        right  = "/logos/3.png",
        badges = ["1", "2", "3"]
} = Astro.props
---

<a class="hover-3d cursor-pointer">
    <div class="card w-full bg-base-100 border-2 border-base-content/20 shadow-sm">
        <div class="card-body">
            <div class="flex gap-2">
            {
                badges.map(element => (
                  <span class="badge badge-xs badge-primary">{ element }</span>  
                ))
            }
            </div>
            <div class="flex justify-between">
                <h2 class="text-2xl font-bold">{ title }</h2>
                <img src={right} class="h-10 w-10 rounded" />
            </div>
            <slot />
        </div>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</a>
