---
---
<footer class="footer footer-horizontal footer-center bg-base-300 text-base-content p-4 gap-1">
  <img class="h-20 w-auto" src="/images/demo_love.png" />
  <aside>
    <p>Copyright © {new Date().getFullYear()} - ARR DEMOCRAFT STUDIOS</p>
  </aside>
</footer>