---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="DEMOCRAFT | Jouez, Partagez !">
   
    <div class="hero h-172 md:min-h-screen relative">
        <div class="absolute inset-0 w-full h-full overflow-hidden bg-black">
            <video class="w-full h-full object-cover opacity-50" autoplay loop muted playsinline
                src="/bg.mp4"
                poster="https://wiki.democraft.fr/api/lobby">
            </video>
            <div class="video-overlay absolute inset-0"></div>
        </div>

            <div class="hero-content text-center text-neutral-content relative z-10 mt-10">
            <div class="max-w-4xl">
                <div class="brand-font font-black text-6xl md:text-9xl leading-none tracking-tighter mb-4 drop-shadow-2xl">
                    <span class="block text-4xl md:text-6xl mb-2 text-slate-100">3, 2, 1...</span>
                    <h1 class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">JOUEZ !</h1>
                </div>
                
                <p class="mb-8 text-lg md:text-xl font-medium text-white/80 max-w-2xl mx-auto">
                    On a créé un serveur Minecraft pour qu'il soit joué, par pour décorer !
                    Partagez la joie du jeu et invitez vos amis à rejoindre l'aventure !
                </p>

                <a href="#rejoindre" class="btn btn-wide max-sm:w-full">
                    Comment Rejoindre
                </a>
            </div>
        </div>
        
        <div class="absolute bottom-10 w-full flex justify-center animate-bounce">
            <Icon name="lucide:arrow-down" class="h-8 w-8 text-white/50" />
        </div>
    </div>

    <div id="rejoindre" class="hero md:min-h-[80vh] bg-base-100 relative overflow-hidden">
        <div class="hero-content flex-col lg:flex-row-reverse gap-12 w-full px-4 py-4 md:py-20">
            <img src="https://us-east-1.tixte.net/uploads/cdn.democraft.fr/java3a.png" class="lg:w-1/2 rounded-2xl shadow-2xl w-full object-cover h-[200px] md:h-[400px]" alt="Player Gaming" />

            <div class="lg:w-1/2 z-10">
                <h2 class="text-5xl font-bold brand-font mb-6">Construit pour <span class="italic text-primary">Tous</span>.</h2>
                <p class="text-lg mb-6 leading-relaxed">
                    DEMOCRAFT n'est pas à propos de nous—c'est à propos de vous. Nous avons mélangé toutes les technologies disponibles pour vous permettre de jouer avec qui vous voulez et ce que vous voulez, <i>même votre frigo</i>.
                </p>
                <div role="alert" class="alert alert-warning shadow-lg">
                    <Icon name="lucide:triangle-alert" class="stroke-current shrink-0 h-6 w-6" />
                    <span>
                        Avec l'augementation des coûts d'hébergement, un seul mode de jeu (la survie) est hébergé et jouable aujourd'hui.
                         Ce serveur est toujours accesible à tous, et nous permet de montrer ce que nous pouvons faire avec notre système de textures personnalisées.
                    </span>
                </div>
                <div class="flex flex-col md:flex-row gap-2 mt-6">
                    <a target="_blank" href="https://wiki.democraft.fr/welcome/connexion/java" class="btn btn-primary gap-2">
                        <Icon name="lucide:gamepad" class="inline-block w-5 h-5" />
                        Rejoindre Democraft
                        </a>
                        <a target="_blank" href="https://wiki.democraft.fr/welcome/connexion/magik" class="btn btn-secondary gap-2">
                        <Icon name="lucide:book-open" class="inline-block w-5 h-5" />
                        Guide Consoles
                    </a>
                    <a target="_blank" href="https://democraft.fr" class="btn btn-outline gap-2">
                        <Icon name="lucide:globe" class="inline-block w-5 h-5" />
                        Notre site
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="min-h-screen bg-base-300 relative py-20 px-4 md:px-6">
        <div class="max-w-6xl mx-auto relative z-10">
            <div class="text-center mb-16">
                <h2 class="text-5xl md:text-6xl font-bold brand-font mb-4">Passez le mot</h2>
                <p class="max-w-lg mx-auto">
                    Vous aimez le projet ? Imprimez ces affiches, collez-les (légalement, bien sûr !), et aidez notre communauté à grandir !
                </p>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-8">
                
                <div class="group relative">
                    <div class="aspect-[2/3] overflow-hidden rounded-xl bg-gray-900 relative">
                        <img src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?q=80&w=2070&auto=format&fit=crop" class="object-cover w-full h-full opacity-60 group-hover:opacity-100 group-hover:scale-105 transition duration-500" alt="Poster 1">
                        <div class="absolute bottom-0 left-0 w-full p-4 bg-gradient-to-t from-black to-transparent">
                            <h4 class="text-white font-bold text-xl">The Explorer</h4>
                        </div>
                    </div>
                    <a class="btn btn-primary w-full mt-4 gap-2">
                        <Icon name="lucide:download" class="h-5 w-5" />
                        Télécharger le PDF
                    </a>
                </div>

                <div class="group relative mt-0 md:-mt-12">
                    <div class="aspect-[2/3] overflow-hidden rounded-xl bg-gray-900 relative">
                        <img src="/posters/D.C.ARMY.png" class="object-cover w-full h-full opacity-80 group-hover:opacity-100 group-hover:scale-105 transition duration-500" alt="Poster 2">
                        <div class="absolute bottom-0 left-0 w-full p-4 bg-gradient-to-t from-black to-transparent">
                            <h4 class="text-white font-bold text-xl">D.C. ARMY</h4>
                        </div>
                    </div>
                    <a href="/posters/D.C.ARMY.png" class="btn btn-secondary w-full mt-2 gap-2" download>
                        <Icon name="lucide:download" class="h-5 w-5" />
                        Télécharger l'image
                    </a>
                    <a href="/posters/D.C.ARMY.pdf" class="btn btn-secondary w-full mt-2 gap-2" download>
                        <Icon name="lucide:download" class="h-5 w-5" />
                        Télécharger le PDF
                    </a>
                </div>

                <div class="group relative">
                    <div class="aspect-[2/3] overflow-hidden rounded-xl border border-white/10 bg-gray-900 relative">
                        <img src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?q=80&w=2070&auto=format&fit=crop" class="object-cover w-full h-full opacity-60 group-hover:opacity-100 group-hover:scale-105 transition duration-500" alt="Poster 3">
                        <div class="absolute bottom-0 left-0 w-full p-4 bg-gradient-to-t from-black to-transparent">
                            <h4 class="text-white font-bold text-xl">Retro Vibe</h4>
                        </div>
                    </div>
                    <a class="btn btn-primary w-full mt-4 gap-2">
                        <Icon name="lucide:download" class="h-5 w-5" />
                        Télécharger le PDF
                    </a>
                </div>
            </div>
        </div>
        <p class="pt-10 px-2 md:px-52 text-center text-sm">
            Le designer en charge de ces affiches est aussi le pixel-artiste principal, le seul et unique administrateur système, le community manager (le plus actif) et globalement celui derrière tout ce site web. Il travaillera donc bientôt sur de nouveaux petits designs, mais pour l'instant, il est temps pour lui d'aller dormir :3
        </p>
    </div>
</Layout>