---
import { Image } from "astro:assets";
import diagram from '../../images/link-editions.png';
---

<div class="grid grid-cols-1 md:grid-cols-2 px:2 md:px-12 my-12">
  <Image
    height={512}
    width={512}
    src={diagram}
    class="rounded-lg px-2 md:px-8 w-full"
    alt="Schéma des éditions compatibles de DEMOCRAFT"
    loading="eager"
  />
  <div class="m-8">
    <h1 class="text-5xl font-bold">
      Un serveur, Une mission
    </h1>
    <p class="pt-6 pb-2">
      Depuis sa fondation en 2022, DEMOCRAFT est resté le seul serveur où les joueurs de toutes les éditions du jeu peuvent <strong>jouer ensemble.</strong>
    </p>
    <p class="py-2">
      Bien que cela puisse sembler simple ou <i>standard</i>, cette idée est en réalité un véritable défi d'un point de vue technique. 
      Construire des ponts entre différentes éditions de Minecraft n'est pas une tâche facile, et les rendre attrayants l'est encore moins.
      Cependant, nous avons décidé d'investir du temps plutôt que de l'argent, pour permettre à chacun de jouer avec ses amis, même ceux sur consoles. 
    </p>
    <p class="py-2">
      Notre mission est d'<strong>unir</strong> la communauté Minecraft, quelle que soit la plateforme ou l'édition qu'ils utilisent, car nous croyons que jouer consiste à partager de bons moments <strong>ensemble</strong>.
    </p>
    <p class="py-2 text-lg">
      Même si nous avons déjà bien avancé, la route reste longue, et nous avons besoin de <strong class="text-primary">votre aide</strong> pour atteindre cet objectif.
    </p>
  </div>
</div>
