---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="DEMOCRAFT in PARIS">
    <div class="h-screen bg-base-100 flex flex-col gap-4 items-center justify-center p-3">
        <img class="h-32 w-32 animate-pulse" src="/logo.png" />
        <h1 class="text-4xl text-center">We Are DEMOCRAFT</h1>
        <p class="text-center">And we really, <i>really</i> looks foward to get all of you amazing people to join our wonderfull adventure 💖</p>
        <div class="w-64">
            <div class="divider"></div>
        </div>
        <p class="text-center">We are still working on this web page. Come arround later to learn more about us!</p>
    </div>
</Layout>
