---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="DEMOCRAFT | Share the Fun">
   
    <div class="hero min-h-screen relative">
        <div class="absolute inset-0 w-full h-full overflow-hidden bg-black">
            <video class="w-full h-full object-cover opacity-50" autoplay loop muted playsinline
                src="/bg.mp4"
                poster="https://wiki.democraft.fr/api/lobby">
            </video>
            <div class="video-overlay absolute inset-0"></div>
        </div>

        <div class="hero-content text-center text-neutral-content relative z-10 mt-10">
            <div class="max-w-4xl">
                <div class="brand-font font-black text-6xl md:text-9xl leading-none tracking-tighter mb-4 drop-shadow-2xl">
                    <span class="block text-4xl md:text-6xl mb-2 text-slate-100">1, 2, 3...</span>
                    <h1 class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">PLAY!</h1>
                </div>
                
                <p class="mb-8 text-lg md:text-xl font-medium text-white/80 max-w-2xl mx-auto">
                    We builed a minecraft server just for you to play on.
                     Share the joy and invite your friends to join the adventure!
                </p>

                <a href="#join" class="btn btn-outline btn-wide max-sm:w-full">
                    How to Join
                </a>
            </div>
        </div>
        
        <div class="absolute bottom-10 w-full flex justify-center animate-bounce">
            <Icon name="lucide:arrow-down" class="h-8 w-8 text-white/50" />
        </div>
    </div>

    <div id="join" class="hero md:min-h-[80vh] bg-base-100 relative overflow-hidden">
        <div class="hero-content flex-col lg:flex-row-reverse gap-12 w-full px-4 py-20">
            <img src="https://us-east-1.tixte.net/uploads/cdn.democraft.fr/java3a.png" class="lg:w-1/2 rounded-2xl shadow-2xl w-full object-cover h-[200px] md:h-[400px]" alt="Player Gaming" />
            

            <div class="lg:w-1/2">
                <h2 class="text-5xl font-bold brand-font mb-6">Built for <span class="italic text-primary">Everyone</span>.</h2>
                <p class="text-lg mb-6 leading-relaxed">
                    Democraft isn't about us—it's about you. We mixed all of avaibles technologies to allow you to play whith whatever you want, <i>event your fridge</i>.
                </p>
                <div role="alert" class="alert alert-warning shadow-lg">
                    <Icon name="lucide:triangle-alert" class="stroke-current shrink-0 h-6 w-6" />
                    <span>
                        Due to hosting costs, only one gamemode (survival) is hosted and playable today.
                        This server is still available to everyone, and allows us to showcase what we can do with our custom texture system.
                    </span>
                </div>
                <div class="flex flex-col md:flex-row gap-2 mt-6">
                    <a target="_blank" href="https://wiki.democraft.fr/welcome/connexion/java" class="btn btn-primary gap-2">
                        <Icon name="lucide:gamepad" class="inline-block w-5 h-5" />
                        Join Democraft
                    </a>
                    <a target="_blank" href="https://wiki.democraft.fr/welcome/connexion/magik" class="btn btn-secondary gap-2">
                        <Icon name="lucide:book-open" class="inline-block w-5 h-5" />
                        Console Setup Guide
                    </a>
                    <a target="_blank" href="https://democraft.fr" class="btn btn-outline gap-2">
                        <Icon name="lucide:globe" class="inline-block w-5 h-5" />
                        Our Website
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="min-h-screen bg-base-300 relative py-20 px-4 md:px-6">
        <div class="max-w-6xl mx-auto relative z-10">
            <div class="text-center mb-16">
                <h2 class="text-5xl md:text-6xl font-bold brand-font mb-4">Spread the Word</h2>
                <p class="max-w-lg mx-auto">
                    Love the server? Print these posters, stick them up in your school or city (legally, of course!), and help the community grow!
                </p>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-8">
                
                <div class="group relative">
                    <div class="aspect-[2/3] overflow-hidden rounded-xl bg-gray-900 relative">
                        <img src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?q=80&w=2070&auto=format&fit=crop" class="object-cover w-full h-full opacity-60 group-hover:opacity-100 group-hover:scale-105 transition duration-500" alt="Poster 1">
                        <div class="absolute bottom-0 left-0 w-full p-4 bg-gradient-to-t from-black to-transparent">
                            <h4 class="text-white font-bold text-xl">The Explorer</h4>
                        </div>
                    </div>
                    <a class="btn btn-primary w-full mt-4 gap-2">
                        <Icon name="lucide:download" class="h-5 w-5" />
                        Download PDF
                    </a>
                </div>

                <div class="group relative mt-0 md:-mt-12">
                    <div class="aspect-[2/3] overflow-hidden rounded-xl bg-gray-900 relative">
                        <img src="/posters/D.C.ARMY.png" class="object-cover w-full h-full opacity-80 group-hover:opacity-100 group-hover:scale-105 transition duration-500" alt="Poster 2">
                        <div class="absolute bottom-0 left-0 w-full p-4 bg-gradient-to-t from-black to-transparent">
                            <h4 class="text-white font-bold text-xl">D.C. ARMY</h4>
                        </div>
                    </div>
                    <a href="/posters/D.C.ARMY.png" class="btn btn-secondary w-full mt-2 gap-2" download>
                        <Icon name="lucide:download" class="h-5 w-5" />
                        Download Image
                    </a>
                    <a href="/posters/D.C.ARMY.pdf" class="btn btn-secondary w-full mt-2 gap-2" download>
                        <Icon name="lucide:download" class="h-5 w-5" />
                        Download PDF
                    </a>
                </div>

                <div class="group relative">
                    <div class="aspect-[2/3] overflow-hidden rounded-xl border border-white/10 bg-gray-900 relative">
                        <img src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?q=80&w=2070&auto=format&fit=crop" class="object-cover w-full h-full opacity-60 group-hover:opacity-100 group-hover:scale-105 transition duration-500" alt="Poster 3">
                        <div class="absolute bottom-0 left-0 w-full p-4 bg-gradient-to-t from-black to-transparent">
                            <h4 class="text-white font-bold text-xl">Retro Vibe</h4>
                        </div>
                    </div>
                    <a class="btn btn-primary w-full mt-4 gap-2">
                        <Icon name="lucide:download" class="h-5 w-5" />
                        Download PDF
                    </a>
                </div>
            </div>
        </div>
        <p class="pt-10 px-2 md:px-52 text-center text-sm">The designer in charge of these posters is also the lead pixel artist, the one and only system administrator, main community manager and globally the one behind this website. So he will work on new fancy designs soon, but right now, it's time for him to get some sleep!</p>
    </div>
</Layout>