---
import { Icon } from "astro-icon/components"
---

<section class="p-2">
    <div
        id="infra-section"
        class="rounded-lg grid grid-cols-1 md:grid-cols-4 gap-6"
    >
        <fieldset
            class="fieldset bg-base-200 border-2 grid grid-cols-2 border-base-300 rounded-box w-full border p-4"
            id="1"
        >
            <legend class="fieldset-legend text-lg">Version 1</legend>
            <div class="card bg-indigo-900">
                <img
                    src="/logos/pterodactyl.png"
                    alt="Pterodactyl Logo"
                    class="w-16 h-16 mb-4 mx-auto"
                />
            </div>
        </fieldset>

        <fieldset
            class="fieldset bg-base-200 border-2 grid grid-cols-2 border-base-300 rounded-box w-full border p-4"
            id="2"
        >
            <legend class="fieldset-legend text-lg">Version 2</legend>
            <div class="card bg-indigo-900">
                <img
                    src="/logos/pterodactyl.png"
                    alt="Pterodactyl Logo"
                    class="w-16 h-16 mb-4 mx-auto"
                />
            </div>
            <div class="card bg-indigo-900">
                <img
                    src="/logos/pterodactyl.png"
                    alt="Pterodactyl Logo"
                    class="w-16 h-16 mb-4 mx-auto"
                />
            </div>
        </fieldset>

        <fieldset
            class="fieldset bg-base-200 border-2 grid grid-cols-2 border-base-300 rounded-box w-full border p-4"
            id="3"
        >
            <legend class="fieldset-legend text-lg">Version 3</legend>
            <div class="card bg-indigo-900">
                <img
                    src="/logos/pterodactyl.png"
                    alt="Pterodactyl Logo"
                    class="w-16 h-16 mb-4 mx-auto"
                />
            </div>
            <div class="card bg-indigo-900">
                <img
                    src="/logos/pterodactyl.png"
                    alt="Pterodactyl Logo"
                    class="w-16 h-16 mb-4 mx-auto"
                />
            </div>
            <div class="card bg-indigo-900">
                <img
                    src="/logos/pterodactyl.png"
                    alt="Pterodactyl Logo"
                    class="w-16 h-16 mb-4 mx-auto"
                />
            </div>
            <div class="card bg-indigo-900">
                <img
                    src="/logos/pterodactyl.png"
                    alt="Pterodactyl Logo"
                    class="w-16 h-16 mb-4 mx-auto"
                />
            </div>
        </fieldset>

        <fieldset
            class="fieldset bg-base-200 border-2 border-base-300 rounded-box w-full border p-4"
            id="4"
        >
            <legend class="fieldset-legend text-lg">Version 4</legend>
            <fieldset
                class="fieldset bg-base-300 border-2 border-base-content/10 grid grid-cols-2 border-base-300 rounded-box w-full border p-4"
                id="4"
            >
                <legend class="fieldset-legend text-base">Node 1</legend>
                <div class="card bg-blue-500 flex items-center justify-center">
                    <Icon name="lucide:container" class="m-4 text-6xl"/>
                </div>
                <div class="card bg-blue-500 flex items-center justify-center">
                    
                    <Icon name="lucide:container" class="m-4 text-6xl"/>
                </div>
                <div class="card bg-blue-500 flex items-center justify-center">
                    <Icon name="lucide:container" class="m-4 text-6xl"/>
                </div>
                <div class="card skeleton bg-blue-500 opacity-40 flex items-center justify-center">
                    <Icon name="lucide:container" class="m-4 text-6xl"/>
                </div>
            </fieldset>
        </fieldset>
        <div class="" id="4"></div>
    </div>
</section>
