---

---
<div class="grid grid-cols-1 md:grid-cols-2 px:2 md:px-12 my-12">
  <img
    src="/images/link-editions.png"
    class="rounded-lg px-2 md:px-8"
  />
  <div class="m-8">
    <h1 class="text-5xl font-bold">
      One server, One mission
    </h1>
    <p class="pt-6 pb-2">
      Since its fundation in 2022, DEMOCRAFT remained the only server to accept any edition of the game to <strong>play together.</strong>
    </p>
    <p class="py-2">
      While it could seem silly or <i>normal</i>, this idea is actually a real challenge from a technical point of view. We decided to put time, over money, to allow anyone to play with their friend, even the one on consoles. 
    </p>
    <p class="py-2">
      Our mission is to <strong>unite</strong> the Minecraft community, no matter the platform or edition they use, because we believe that gaming is about sharing good moments together.
    </p>
    <p class="py-2">
      We still have plenty of things to research, and we need <strong>your help</strong> to achieve this goal.
    </p>
  </div>
</div>
