---
import Image from "astro/components/Image.astro"
---

<div class="grid grid-cols-1 md:grid-cols-2 px:2 md:px-12 my-12">
  <Image
    height={600}
    width={600}
    src="/images/link-editions.png"
    class="rounded-lg px-2 md:px-8"
    alt="Diagram of compatible editions of DEMOCRAFT"
    loading="eager"
  />
  <div class="m-8">
    <h1 class="text-5xl font-bold">
      One server, One mission
    </h1>
    <p class="pt-6 pb-2">
      Since its foundation in 2022, DEMOCRAFT has remained the only server where players from any edition of the game can <strong>play together.</strong>
    </p>
    <p class="py-2">
      While it might seem simple or <i>standard</i>, this idea is actually a real challenge from a technical point of view. 
      Building bridges between different editions of Minecraft is not an easy task, and making them look good is even harder.
      However, we decided to invest time over money, to allow everyone to play with their friends, even those on consoles. 
    </p>
    <p class="py-2">
      Our mission is to <strong>unite</strong> the Minecraft community, no matter the platform or edition they use, because we believe that gaming is about sharing good moments together.
    </p>
    <p class="py-2 text-lg">
      We still have plenty of things to research, and we need <strong class="text-primary">your help</strong> to achieve this goal.
    </p>
  </div>
</div>
