---
import "../assets/app.css";
const { title } = Astro.props;
import { getImage } from "astro:assets";
import demoLove from "../images/demo_love.png";

const optimizedOgImage = await getImage({src: demoLove, format: 'png'});
---

<head>
    <script is:inline>
        if (localStorage.getItem("theme") === null) {
            if (window.matchMedia("(prefers-color-scheme: dark)").matches)
                document.documentElement.setAttribute("data-theme", "dark");
            else
                document.documentElement.setAttribute("data-theme", "light");
        } else
            document.documentElement.setAttribute(
                "data-theme",
                localStorage.getItem("theme"),
            );
    </script>

    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="DEMOCRAFT is a community-driven Minecraft project focused on creating an inclusive and innovative gaming experience. Join us in building a vibrant world where creativity and collaboration thrive." />
    <meta name="og:title" content={title} />
    <meta name="og:description" content="DEMOCRAFT is a community-driven Minecraft project focused on creating an inclusive and innovative gaming experience. Join us in building a vibrant world where creativity and collaboration thrive." />
    <meta name="og:image" content={optimizedOgImage.src} />
    <title>{title}</title>
    <script defer src="https://stats.funa.dev/script.js" data-website-id="c0799378-956b-48df-88fe-8eece159a0e3"></script>
</head>
