---
const { title } = Astro.props;
import Head from "../layouts/Head.astro";
import Footer from "../componets/Footer.astro";
---

<html lang="fr">
  <Head title={title} />
  <body class="w-full max-w-screen">
    <slot />
    <Footer />
  </body>
</html>